<div class="content">
  <div class="content-container">
    <div class="content-title">
      <h1>最新の投稿</h1>
    </div>
    <div class="content-box">
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
      <div class="home-box">
        <div class="home-content">
          <div class="book-title white-space-nowrap">
            <h2>本のタイトル<h2>
          </div>
          <div class="book-evaluation">
            <p>評価 ☆☆☆☆☆</p>
          </div>
        </div>
        <div class="content-impression">
          <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
        </div>
        <div class="home-account-row">
          <div class="home-account-img">
            <%= image_tag 'header.jpg'%>
          </div>
          <div class="home-account-name">
            <p>アカウント名</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  